.HistoryContainer {
    .allIndepandante {
        .ShoppingHistory .listsHistory .onSetsOfLists .allLists .oneList {
            background: #ffffff;
            box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
            border-radius: 12px;
            padding: 0 22px;
            width: 100%;
            margin-bottom: 24px;
        }
    }
    .all2251 {
        display: flex;

        .ShoppingHistory {
            width: 75%;
            margin: 0 22px 0 6%;

            .principaleTitle {
                h2 {
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 32px;
                    /* identical to box height */

                    color: #34333a;
                }
            }
            .listsHistory {
                overflow: scroll;
                max-height: 92vh;
                .onSetsOfLists {
                    margin-bottom: 8vh;
                    .allLists {
                        margin-top: 12px;

                        .oneList {
                            background: #ffffff;
                            box-shadow: 0px 2px 12px rgb(0 0 0 / 5%);
                            border-radius: 12px;
                            padding: 0 22px;
                            margin-bottom: 24px;
                            width: 80%;

                            .listcontainer {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                position: relative;

                                .leftText {
                                    h3 {
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 20px;

                                        color: #000000;
                                    }
                                }
                                .rightElements {
                                    width: 51%;
                                    position: absolute;
                                    right: 0;

                                    .creationDateParent {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        width: 100%;

                                        .creationDate {
                                            font-weight: 500;
                                            font-size: 12px;
                                            line-height: 15px;

                                            color: #c1c1c4;
                                        }
                                        .completed {
                                            border: 1px solid #56ccf2;
                                            box-sizing: border-box;
                                            border-radius: 8px;
                                            padding: 3px 8px;
                                            transition: 0.2s;

                                            p {
                                                font-weight: 500;
                                                font-size: 12px;
                                                line-height: 15px;
                                                color: #56ccf2;
                                            }
                                            &:hover {
                                                background-color: #56ccf2;
                                                p {
                                                    color: white;
                                                }
                                            }
                                        }
                                        .canceled {
                                            border: 1px solid #eb5757;
                                            box-sizing: border-box;
                                            border-radius: 8px;
                                            padding: 3px 8px;
                                            transition: 0.2s;

                                            p {
                                                font-weight: 500;
                                                font-size: 12px;
                                                line-height: 15px;
                                                color: #eb5757;
                                            }
                                            &:hover {
                                                background-color: #eb5757;
                                                p {
                                                    color: white;
                                                }
                                            }
                                        }
                                        .current {
                                            border: 1px solid #34d399;

                                            p {
                                                color: #34d399;
                                            }
                                            &:hover {
                                                background-color: #34d399;
                                            }
                                        }
                                        .current,
                                        .canceled,
                                        .completed {
                                            box-sizing: border-box;
                                            border-radius: 8px;
                                            padding: 3px 8px;
                                            transition: 0.2s;
                                            background-color: transparent;
                                            p {
                                                font-weight: 500;
                                                font-size: 12px;
                                                line-height: 15px;
                                            }
                                            &:hover {
                                                p {
                                                    color: white;
                                                }
                                            }
                                        }
                                        .findOutMoreButton {
                                            display: flex;
                                            align-items: center;
                                            background: transparent;
                                            border: none;
                                            outline: none;
                                            &:hover {
                                                opacity: 0.7;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .contHistoryCont{
        display: flex;
        justify-content: space-between;

        .parentOfAll{
            padding: 37px 9%;

            .itemsInList{
                overflow-y: scroll;
                max-height: 79vh;
                .containerOfItemsInList{
                    margin-bottom: 6vh;
                    .oneCat{
                        h3:first-child{
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            
                            color: #000000;
                        }
                        .itemsInQuestion{
                            grid-template-columns: repeat(4, 1fr);
                            grid-gap: 16px;
                            display: grid;
                            .oneNutrient{
                                p:first-child{
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    
                                    color: #000000;
                                }
                                .numberOfPcs{
                                    font-weight: bold;
                                    font-size: 12px;
                                    line-height: 15px;
                                    
                                    color: #F9A10A;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//media

@media screen and (max-width: 1350px){
    .HistoryContainer .contHistWithShoppingList .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        display: grid;
    }
}
@media screen and (max-width: 1101px) {
    .HistoryContainer
        .all2251
        .ShoppingHistory
        .listsHistory
        .onSetsOfLists
        .allLists
        .oneList
        .listcontainer
        .rightElements {
        width: 71%;
        position: absolute;
        right: 0;
    }

    .HistoryContainer .contHistWithShoppingList .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        display: grid;
    }
    .HistoryContainer .contHistIndepandante .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
        display: grid;
    }
}
@media screen and (max-width: 870px) {
    .HistoryContainer .contHistIndepandante .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        display: grid;
    }
}
@media screen and (max-width: 707px) {
    .HistoryContainer .contHistIndepandante .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 9px;
        display: grid;
    }
}
@media screen and (max-width: 906px) {
    .HistoryContainer
        .allWithShoppingList
        .ShoppingHistory
        .listsHistory
        .onSetsOfLists
        .allLists
        .oneList
        .listcontainer
        .rightElements {
        .calendarSVGimage {
            display: none;
        }
        .creationDateParent .creationDate {
            font-size: 10px;
        }
    }
    .HistoryContainer
        .allWithShoppingList
        .ShoppingHistory
        .listsHistory
        .onSetsOfLists
        .allLists
        .oneList
        .listcontainer
        .rightElements
        .creationDateParent
        .current,
    .HistoryContainer
        .allWithShoppingList
        .ShoppingHistory
        .listsHistory
        .onSetsOfLists
        .allLists
        .oneList
        .listcontainer
        .rightElements
        .creationDateParent
        .canceled,
    .HistoryContainer
        .allWithShoppingList
        .ShoppingHistory
        .listsHistory
        .onSetsOfLists
        .allLists
        .oneList
        .listcontainer
        .rightElements
        .creationDateParent
        .completed {
        box-sizing: border-box;
        transition: 0.2s;
        background-color: transparent;
        border: none;

        p {
            font-size: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .HistoryContainer .contHistWithShoppingList .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6px;
        display: grid;
    }
}
@media screen and (max-width:701px){
    .HistoryContainer .contHistWithShoppingList .parentOfAll {
        padding: 37px 9%;
        display: none;
    }
}
@media screen and (max-width:446px){
    .HistoryContainer .contHistIndepandante .parentOfAll .itemsInList .containerOfItemsInList .oneCat .itemsInQuestion {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 6px;
        display: grid;
    }
}
@media screen and (max-width: 473px){
    .HistoryContainer .all2251 .ShoppingHistory .listsHistory .onSetsOfLists .allLists .oneList .listcontainer{
        .leftText h3{
            font-weight: 500;
            font-size: 10px;
            line-height: 20px;
            color: #000000;
        }
        #DateElement{
            margin-right: 7px;
            svg{
                display: none;
            }
            p{
                font-weight: 500;
                font-size: 8px;
                line-height: 15px;
                color: #C1C1C4;
            }
        
        }
        
    }
    .HistoryContainer .all2251 .ShoppingHistory .listsHistory .onSetsOfLists .allLists .oneList .listcontainer .rightElements .creationDateParent{
        button:nth-child(2){
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            &:hover{
                background-color: transparent;
            }
            p{
                font-size: 10px;
            }
        }
      
        .completed{
            &:hover{
                p{
                    color: #56ccf2;
                }
            }
        }
        .canceled{
            &:hover{
                p{
                    color: #eb5757;
                }
            }
        }
        button:nth-child(3){
            transform: scale(0.7);
        }
    }
}